* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.header {
    display: flex;
    flex-direction: row;
    al
}
/* banner */
.banner {
}
/* section */
.section {
}
/* footer */
.footer {
  display: flex;
  flex-direction: column;

  align-items: center;

  img {
    width: 180px;
  }

  hr {
  }

  p {
    cursor: pointer;
  }
}
